.image {
	
	float:left;
	cursor:pointer;
	
}

.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
	
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:9;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	margin:0 auto;
	z-index:10;
	max-height:94%;
	max-width:94%;
	margin:100px 0 0 0;
}