$back_imge_height: 700px;

$brd: 3px solid red;
h1 {
  font-size: 6em;
  padding-top: $back_imge_height * 0.6;
  padding-left: 50%;
  text-align: left;
}

$height_nav: 45px;

.backgraund_fone {
  margin-top: -($height_nav + 80);
  max-width: 100%;
  height: $back_imge_height;
  background-image: url(../img/BackGraundCat.png); /* фоновое изображение сверху */
  background-position: top center; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  background-size: auto $back_imge_height;
}

.video {
  display: block;
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: $back_imge_height * 0.4;
}

.advant {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border: 1px solid black;
  height: 50%;
  font-size: 2em;
  img {
    width: 100%;
  }
}

.advant_image,
.advant_ul {
  width: 50%;
}
.advant_ul {
  text-align: right;
  padding: 2% 13% 0 0;
  line-height: 200%;
}
h2 {
  margin-top: 2%;
  text-align: center;
  font-size: 4em;
}
.inf_cards {
  margin-top: 2%;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  //border: $brd;
}
.card {
  width: 40%;
  margin: 0 5% 1% 5%;
  border: 2px solid black;
  text-align: center;
  font-size: 3em;
  img {
    width: 100%;
  }
  p {
    padding: 10px 10px 10px 10px;
  }
}
//стили кнопки вверх
.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url(../img/icon_top.png) no-repeat;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3em;
    padding-top: $back_imge_height * 0.3;
    padding-left: 0%;
    text-align: center;
  }

  .video {
    display: block;
    width: 100%;
    height: $back_imge_height * 0.25;
    margin-top: $back_imge_height * 0.2;
  }
  .backgraund_fone {
    margin-top: -($height_nav + 80);
    max-width: 100%;
    //height: $back_imge_height;
    background-image: url(../img/BackGraundCat.png); /* фоновое изображение сверху */
    background-position: top center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto $back_imge_height * 0.5;
  }

  .advant {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 20%;
    //border: 1px solid black;
    height: 50%;
    font-size: 1.6em;
    img {
      width: 100%;
    }
  }

  .advant_image,
  .advant_ul {
    width: 100%;
  }
  .advant_ul {
    text-align: center;
    padding: 2% 0 0 0;
    line-height: 200%;
  }
  h2 {
    margin-top: 20%;
    text-align: center;
    font-size: 2em;
  }
  .inf_cards {
    margin-top: 2%;
    display: flex;
    flex-flow: wrap;
    width: 95%;
    margin: 0 auto;
    //border: $brd;
  }
  .card {
    width: 100%;
    margin: 0 5% 1% 5%;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
    img {
      width: 100%;
    }
    p {
      padding: 10px 10px 10px 10px;
    }
  }
  .scrollup {
    right: 10px;
  }
}
