/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*конец обнуления*/

$height_nav: 70px;
$back_imge_height: 700px;

$brd: 5px solid red;
h1 {
  font-size: 6em;
  padding-top: $back_imge_height * 0.6;
  padding-left: 50%;
  text-align: left;
}
body {
  max-width: 1920px;
  font-size: 100%;
  margin: auto;
  //background-color:rgba(255, 115, 0, 0.733);
}

.navigation {
  height: $height_nav;

  display: flex;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .li {
    justify-content: right;
    margin-right: 1%;
    font-size: ($height_nav * 0.6);
  }
  .li:first-child {
    align-self: flex-start;
    margin-right: auto;
    height: 100%;

    img {
      height: 100%;
      width: auto;
    }
  }
  .li:last-child {
    margin-right: 0;
  }
  .nav_ikons {
    max-height: 50px;
    img {
      height: 0.5em;
      display: block;
      margin: -($height_nav/3.5) 0;
    }
  }
}
.backgraund_fone {
  margin-top: -($height_nav + 80);
  max-width: 100%;
  height: $back_imge_height;
  background-image: url(../img/BackGraundCat.png); /* фоновое изображение сверху */
  background-position: top center; /* Положение фона */
  background-repeat: no-repeat; /* Отменяем повторение фона */
  background-size: auto $back_imge_height;
}
.video {
  display: block;
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: $back_imge_height * 0.4;
}

.advant {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2em;
  border: 1px solid black;
  height: 50%;
  font-size: 2em;
  img {
    width: 100%;
  }
}

.advant_image,
.advant_ul {
  width: 50%;
}
.advant_ul {
  text-align: right;
  padding: 2% 13% 0 0;
  line-height: 200%;
}
h2 {
  margin-top: 2%;
  text-align: center;
  font-size: 4em;
}
.inf_cards {
  margin-top: 2%;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  //border: $brd;
}
.card {
  width: 40%;
  margin: 0 5% 1% 5%;
  border: 2px solid black;
  text-align: center;
  font-size: 3em;
  img {
    width: 100%;
  }
  p {
    padding: 10px 10px 10px 10px;
  }
}

$footer_height: 100px;

footer {
  width: 100%;
  height: $footer_height;
  //border: $brd;
  display: inline-block;
  font-size: 1.2em;
}

.l_footer {
  float: left;
  width: 20%;
  margin: ($footer_height/2.2) 30px auto 0;
  //border: $brd;
  text-align: left;
}
.r_footer {
  margin-top: ($footer_height/2.2);
  float: right;
  display: block;
  width: 65%;
  //border: $brd;
}
//.p_footer {
  //border: $brd;}


.ul_footer {
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  //border: $brd;
}
.li_footer {
  text-align: center;
  width: 200px;
  height: 30px;
}
